# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore build output
dist

# Ignore environment variables
.env
.env.local

# Ignore npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local development files
.vscode/
.idea/
.DS_Store