@import "../../mixins.scss";

.player {
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    // justify-content: center;
    align-items: center;
    background-color: var(--black);
    padding-top: 100px;
    margin-bottom: 40px;
    @include md {
        margin-bottom: 40px;
        padding-top: 100px;
        min-height: 700px;
    }
    .source-buttons{
         display: flex;
         gap: 2px;
         margin-top: 12px;
         padding: 0 5px;
         background-color: var(--black);
         color: white;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
    
         @include md{
          gap: 16px;
         }
        }
}

.button-62 {
  border-radius: 12px;
  border: 2px solid #f24f1366;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5rem;
  padding: 0 1rem;

  @include md {
    font-size: 22px;
    line-height: 3.5;
    font-weight: 800;
    padding: 0 3rem;
  }
}

.source-btn-active{
  background-color: #dc4b16;
}


#dd{
  position: absolute;
  height: 400px !important;
  z-index: 2;
  @include md {
      height: 700px !important;
  }
}

.backdrop1-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 400px;
  z-index: 1;
  opacity: 0.4;
  overflow: hidden;
  .lazy-load-image-background {
      width: 100%;
      height: 100%;
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
      }
  }
  @include md {
    height: 700px !important;
}
}

#seasons{
  padding: 0 20px;
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  color: white;
  gap: 12px;
  @include md{
    padding: 0 100px;
  }
}

#seasonsDropdown{
  padding: 12px;
  width: fit-content;
}

.episode-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  @include md{
    grid-template-columns: repeat(12, 1fr);
  }
}

.episode-div{
  text-align: center;
  border-radius: 12px;
  border: 2px solid #f24f1366;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 2rem;
  padding: 4px;

  @include md {
    font-size: 16px;
    line-height: 2rem;
    padding: 8px;
  }
}
.episode-div-active{
  background-color: #dc4b16;
}